@use "utilities/global" as *;

@include setup;

body {
  font-family: $font-jakarta;
  background-color: color(white);
  overflow-x: hidden;
}

a {
  &:any-link {
    @include setFont(rem(18px), 28px, 700);
    text-decoration: none;
    color: color(sasquatch-socks);
  }
  &:hover {
    color: color(carnation-pink);
  }
}

.header {
  padding: rem(16px) rem(16px) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(38px);
  @media (min-width: $w-tablet) {
    padding: rem(24px) rem(40px) 0;
    margin-bottom: rem(36px);
  }
}

.site-logo {
  width: rem(89px);
}

.button {
  @include setFont(rem(16px), 28px, 700);
  color: color(white);
  background-color: color(yankees-blue);
  padding: em(10px, 16px) em(24px, 16px);
  border: 0;
  border-radius: 28px;
  cursor: pointer;
  z-index: 1;
  &:hover {
    background-color: color(dark-blue-gray);
  }
}

.button--warm {
  padding: em(15px, 16px) em(37px, 16px);
  border-radius: 31.5px;
  background-image: $gradient-warm;
  &:hover {
    background-image: $gradient-warm-hover;
  }
}

.button--cold {
  background-image: $gradient-cold;
  &:hover {
    background-image: $gradient-cold-hover;
  }
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: rem(16px);
  padding-bottom: rem(66px);
  @media (min-width: $w-tablet) {
    padding-inline: rem(40px);
    padding-bottom: rem(160.7px);
    flex-direction: row;
    gap: rem(33.3px);
  }
}

.top__text-content {
  margin-bottom: rem(46px);
  @media (min-width: $w-tablet) {
    margin-bottom: 0;
    max-width: rem(398px);
    //necessary?
  }
}

.top__heading {
  @include setFont(rem(40px), 50px, 800);
  color: color(yankees-blue);
  margin-bottom: em(36px, 40px);
  @media (min-width: $w-tablet) {
    margin-bottom: em(25px, 40px);
  }
}

.paragraph {
  @include setFont(rem(16px), 26px, 500);
  color: color(roman-silver);
  margin-bottom: em(24px, 16px);
}

.hero-img-wrapper {
  width: rem(327px);
  height: rem(301px);
  img {
    width: 430px;
    height: 405px;
    margin-left: -53px;
    margin-top: -19px;
    @media (min-width: $w-tablet) {
      width: rem(688px);
      height: rem(720px);
      margin-left: rem(-98px);
      margin-top: rem(-214px);
    }
  }
  @media (min-width: $w-tablet) {
    width: rem(216.54px);
    height: rem(382.53px);
    margin-bottom: 0;
  }
}

.courses {
  padding-inline: rem(16px);
  padding-bottom: rem(40px);
  background-image: linear-gradient(
    180deg,
    hsl(0, 0%, 100%) 0%,
    hsl(236, 100%, 97%) 100%
  );
  @media (min-width: $w-tablet) {
    padding-inline: rem(40px);
    padding-bottom: rem(86px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 56px 10px;
  }
}

.courses__heading {
  @include setFont(rem(24px), 32px, 800);
  padding: em(24px, 24px) em(28px, 24px) em(32px, 24px);
  background-image: $gradient-warm;
  color: color(white);
  border-radius: 10px;
  margin-bottom: em(40px, 24px);
  @media (min-width: $w-tablet) {
    padding: em(56px, 24px) em(21px, 24px) em(139px, 24px) em(32px, 24px);
    margin-bottom: 0;
  }
}

.courses__course {
  background: color(white);
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  padding: 0 rem(28px) rem(32px);
  margin-bottom: rem(40px);
  @media (min-width: $w-tablet) {
    padding: 0 rem(21px) rem(32px) rem(32px);
    margin-bottom: 0;
  }
}

.course__logo {
  transform: translateY(-24px);
}

.course__title {
  @include setFont(rem(20px), 25px, 800);
  color: color(yankees-blue);
  margin-bottom: em(16px, 20px);
}

.footer {
  background-color: color(yankees-blue);
  padding: rem(36px) rem(16px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: $w-tablet) {
    padding: rem(36px) rem(40px);
  }
}
