:root {
  font-size: 1em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: hsl(0deg, 0%, 100%);
  overflow-x: hidden;
}

a:any-link {
  font-size: 1.125rem;
  line-height: 1.5555555556;
  font-weight: 700;
  text-decoration: none;
  color: hsl(341deg, 92%, 62%);
}
a:hover {
  color: hsl(341deg, 100%, 83%);
}

.header {
  padding-top: clamp(1rem, 0.0203562341 * 100vw + 0.5229007634rem, 1.5rem);
  padding-inline: max(1rem, 0.0610687023 * 100vw + -0.4312977099rem);
  padding-bottom: max(2.375rem, 0.0305343511 * 100vw + 1.659351145rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header {
    padding-inline: min(10.3125rem, 0.1860119048 * 100vw + -6.4285714286rem);
    padding-bottom: min(5.4375rem, 0.0550595238 * 100vw + 0.4821428571rem);
  }
}

.site-logo {
  width: 5.5625rem;
}
@media (min-width: 768px) {
  .site-logo {
    width: min(7.323125rem, 0.0419196429 * 100vw + 3.5503571429rem);
  }
}

.button {
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(233deg, 54%, 16%);
  padding: 0.625em 1.5em;
  border: 0;
  border-radius: 28px;
  cursor: pointer;
  z-index: 1;
}
.button:hover {
  background-color: hsl(234deg, 25%, 52%);
}
@media (min-width: 768px) {
  .button {
    font-size: min(1.125rem, 0.0029761905 * 100vw + 0.8571428571rem);
    line-height: 28px;
    padding-block: min(0.875rem, 0.005952381 * 100vw + 0.3392857143rem);
    padding-inline: min(1.9375rem, 0.0104166667 * 100vw + 1rem);
  }
}

.button--warm {
  padding: 0.9375em 2.3125em;
  border-radius: 31.5px;
  background-image: linear-gradient(180deg, hsl(13deg, 100%, 64%) 0.04%, hsl(322deg, 87%, 55%) 100%);
}
.button--warm:hover {
  background-image: linear-gradient(0deg, hsla(0deg, 0%, 100%, 0.502), hsla(0deg, 0%, 100%, 0.502)), linear-gradient(180deg, hsl(13deg, 100%, 64%) 0%, hsl(322deg, 87%, 55%) 100%);
}
@media (min-width: 768px) {
  .button--warm {
    padding-block: min(1.1875rem, 0.005952381 * 100vw + 0.6517857143rem);
    padding-inline: max(1.9375rem, -0.0089285714 * 100vw + 2.7410714286rem);
  }
}

.button--cold {
  background-image: linear-gradient(180deg, hsl(237deg, 100%, 64%) 0%, hsl(322deg, 87%, 55%) 99.92%);
}
.button--cold:hover {
  background-image: linear-gradient(0deg, hsla(0deg, 0%, 100%, 0.502), hsla(0deg, 0%, 100%, 0.5)), linear-gradient(180deg, hsl(237deg, 100%, 64%) -54.32%, hsl(322deg, 87%, 55%) 100%);
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: max(1rem, 0.0610687023 * 100vw + -0.4312977099rem);
  padding-bottom: 4.125rem;
}
@media (min-width: 700px) {
  .top-section {
    padding-left: clamp(2.5rem, 0.1860119048 * 100vw + -6.4285714286rem, 10.3125rem);
    padding-right: clamp(5.09375rem, 0.2046130952 * 100vw + -4.7276785714rem, 13.6875rem);
    padding-bottom: clamp(10.04375rem, -0.0397321429 * 100vw + 11.9508928571rem, 8.375rem);
    flex-direction: row;
    justify-content: space-between;
  }
}

.top__text-content {
  margin-bottom: 2.875rem;
}
@media (min-width: 700px) {
  .top__text-content {
    margin-bottom: 0;
    max-width: min(28.5625rem, 0.087797619 * 100vw + 20.6607142857rem);
  }
}

.top__heading {
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 800;
  color: hsl(233deg, 54%, 16%);
  margin-bottom: 0.9em;
}
@media (min-width: 700px) {
  .top__heading {
    font-size: clamp(2.5rem, 0.0238095238 * 100vw + 1.3571428571rem, 3.5rem);
    line-height: clamp(50px, 0.03125 * 100vw + 26px, 71px);
    margin-bottom: clamp(1.5625rem, 0.005952381 * 100vw + 1.2767857143rem, 1.8125rem);
  }
}

.paragraph {
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  color: hsl(232deg, 10%, 56%);
  margin-bottom: 1.5em;
}
@media (min-width: 700px) {
  .paragraph {
    font-size: clamp(1rem, 0.0029761905 * 100vw + 0.8571428571rem, 1.125rem);
    line-height: clamp(26px, 0.0029761905 * 100vw + 23.7142857143px, 28px);
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 700px) {
  .paragraph--top {
    margin-right: clamp(0rem, 0.0178571429 * 100vw + -0.8571428571rem, 0.75rem);
    margin-right: clamp(0rem, 0.0595238095 * 100vw + -2.8571428571rem, 2.5rem);
  }
}

.hero-img-wrapper {
  width: max(20.4375rem, 0.7169230769 * 100vw + 3.6346153846rem);
  height: max(18.8125rem, 0.66 * 100vw + 3.34375rem);
}
@media (min-width: 700px) {
  .hero-img-wrapper {
    width: calc(0.1494940476 * 100vw + 6.3580357143rem);
    height: calc(0.2640922619 * 100vw + 11.2316964286rem);
    margin-bottom: 0;
  }
}
.hero-img-wrapper img {
  width: max(26.875rem, 0.96 * 100vw + 4.375rem);
  height: max(25.3125rem, 0.8953846154 * 100vw + 4.3269230769rem);
  margin-left: min(-3.3125rem, -0.12 * 100vw + -0.5rem);
  margin-top: min(-1.1875rem, -0.0430769231 * 100vw + -0.1778846154rem);
}
@media (min-width: 700px) {
  .hero-img-wrapper img {
    width: calc(0.4806547619 * 100vw + 19.9285714286rem);
    height: calc(0.4985119048 * 100vw + 21.0714285714rem);
    margin-left: calc(-0.0699404762 * 100vw + -2.7678571429rem);
    margin-top: calc(-0.1473214286 * 100vw + -6.3035714286rem);
  }
}
@media (min-width: 1440px) {
  .hero-img-wrapper img {
    width: 65.125rem;
    height: 58.5rem;
    margin-left: -10.875rem;
    margin-top: -19.625rem;
  }
}

.courses {
  padding-inline: max(1rem, 0.0738461538 * 100vw + -0.7307692308rem);
  padding-bottom: 2.5rem;
  background-image: linear-gradient(180deg, hsl(0deg, 0%, 100%) 0%, hsl(236deg, 100%, 97%) 100%);
}
@media (min-width: 700px) {
  .courses {
    padding-inline: clamp(2.5rem, 0.1860119048 * 100vw + -6.4285714286rem, 10.3125rem);
    padding-bottom: clamp(5.375rem, 0.0803571429 * 100vw + 1.5178571429rem, 8.75rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: clamp(56px, 0.0555555556 * 100vw + 13.3333333333px, 80px);
    column-gap: clamp(10px, 0.0462962963 * 100vw + -25.5555555556px, 30px);
  }
}
@media (min-width: 1200px) {
  .courses {
    grid-template-columns: repeat(3, 1fr);
  }
}

.courses__heading {
  font-size: 1.5rem;
  line-height: 1.3333333333;
  font-weight: 800;
  padding: 1em 1.1666666667em 1.3333333333em;
  background-image: linear-gradient(180deg, hsl(13deg, 100%, 64%) 0.04%, hsl(322deg, 87%, 55%) 100%);
  color: hsl(0deg, 0%, 100%);
  border-radius: 10px;
  margin-bottom: 1.6666666667em;
}
@media (min-width: 700px) {
  .courses__heading {
    padding-top: clamp(3.5rem, 0.0119047619 * 100vw + 2.9285714286rem, 4rem);
    padding-bottom: clamp(8.6875rem, -0.0014880952 * 100vw + 8.7589285714rem, 8.625rem);
    padding-left: 2rem;
    padding-right: clamp(1.3125rem, 0.0163690476 * 100vw + 0.5267857143rem, 2rem);
    font-size: clamp(1.5rem, 0.0119047619 * 100vw + 0.9285714286rem, 2rem);
    line-height: clamp(32px, 0.0119047619 * 100vw + 22.8571428571px, 40px);
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .courses__heading {
    border-radius: 15px;
  }
}

.courses__course {
  background: hsl(0deg, 0%, 100%);
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  padding: 0 1.75rem 2rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 700px) {
  .courses__course {
    padding-left: 2rem;
    padding-right: clamp(1.3125rem, 0.0163690476 * 100vw + 0.5267857143rem, 2rem);
    padding-bottom: clamp(2rem, 0.0119047619 * 100vw + 1.4285714286rem, 2.5rem);
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .courses__course {
    border-radius: 15px;
  }
}

.course__logo {
  transform: translateY(-24px);
}
@media (min-width: 1200px) {
  .course__logo {
    margin-bottom: 0.5rem;
  }
}

.course__title {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 800;
  color: hsl(233deg, 54%, 16%);
  margin-bottom: 0.8em;
}
@media (min-width: 700px) {
  .course__title {
    font-size: clamp(1.25rem, 0.005952381 * 100vw + 0.9642857143rem, 1.5rem);
    line-height: clamp(25px, 0.0074404762 * 100vw + 19.2857142857px, 30px);
    margin-bottom: clamp(1rem, 0.0119047619 * 100vw + 0.4285714286rem, 1.5rem);
  }
}

.footer {
  background-color: hsl(233deg, 54%, 16%);
  padding-block: 2.25rem;
  padding-inline: max(1rem, 0.0610687023 * 100vw + -0.4312977099rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .footer {
    padding-block: max(2rem, -0.005952381 * 100vw + 2.5357142857rem);
    padding-inline: min(10.3125rem, 0.1860119048 * 100vw + -6.4285714286rem);
  }
}

/*# sourceMappingURL=style.css.map */
