@use "utilities/global" as *;

@include setup;

body {
  font-family: $font-jakarta;
  background-color: color(white);
  overflow-x: hidden;
}

a {
  &:any-link {
    @include setFont(rem(18px), 28px, 700);
    text-decoration: none;
    color: color(sasquatch-socks);
  }
  &:hover {
    color: color(carnation-pink);
  }
}

.header {
  padding-top: lerp_clamp($w-mobile, rem(16px), $w-tablet, rem(24px));
  padding-inline: lerp_max($w-mobile, rem(16px), $w-tablet, rem(40px));
  padding-bottom: lerp_max($w-mobile, rem(38px), $w-tablet, rem(50px));
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: $w-tablet) {
    padding-inline: lerp_min($w-tablet, rem(40px), $w-desktop, rem(165px));
    padding-bottom: lerp_min($w-tablet, rem(50px), $w-desktop, rem(87px));
  }
}

.site-logo {
  width: rem(89px);
  @media (min-width: $w-tablet) {
    width: lerp_min($w-tablet, rem(89px), $w-desktop, rem(117.17px));
  }
}

.button {
  @include setFont(rem(16px), 28px, 700);
  color: color(white);
  background-color: color(yankees-blue);
  padding: em(10px, 16px) em(24px, 16px);
  border: 0;
  border-radius: 28px;
  cursor: pointer;
  z-index: 1;
  &:hover {
    background-color: color(dark-blue-gray);
  }
  @media (min-width: $w-tablet) {
    font-size: lerp_min($w-tablet, rem(16px), $w-desktop, rem(18px));
    line-height: 28px;
    padding-block: lerp_min($w-tablet, rem(10px), $w-desktop, rem(14px));
    padding-inline: lerp_min($w-tablet, rem(24px), $w-desktop, rem(31px));
  }
}

.button--warm {
  padding: em(15px, 16px) em(37px, 16px);
  border-radius: 31.5px;
  background-image: $gradient-warm;
  &:hover {
    background-image: $gradient-warm-hover;
  }
  @media (min-width: $w-tablet) {
    padding-block: lerp_min($w-tablet, rem(15px), $w-desktop, rem(19px));
    padding-inline: lerp_max($w-tablet, rem(37px), $w-desktop, rem(31px));
  }
}

.button--cold {
  background-image: $gradient-cold;
  &:hover {
    background-image: $gradient-cold-hover;
  }
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: lerp_max($w-mobile, rem(16px), $w-tablet, rem(40px));
  padding-bottom: rem(66px);
  @media (min-width: 700px) {
    padding-left: lerp_clamp($w-tablet, rem(40px), $w-desktop, rem(165px));
    padding-right: lerp_clamp($w-tablet, rem(81.5px), $w-desktop, rem(219px));
    padding-bottom: lerp_clamp($w-tablet, rem(160.7px), $w-desktop, rem(134px));
    flex-direction: row;
    justify-content: space-between;
  }
}

.top__text-content {
  margin-bottom: rem(46px);
  @media (min-width: 700px) {
    margin-bottom: 0;
    max-width: lerp_min($w-tablet, rem(398px), $w-desktop, rem(457px));
  }
}

.top__heading {
  @include setFont(rem(40px), 50px, 800);
  color: color(yankees-blue);
  margin-bottom: em(36px, 40px);
  @media (min-width: 700px) {
    font-size: lerp_clamp($w_tablet, rem(40px), $w-desktop, rem(56px));
    line-height: lerp_clamp($w_tablet, 50px, $w-desktop, 71px);
    margin-bottom: lerp_clamp($w-tablet, rem(25px), $w-desktop, rem(29px));
  }
}

.paragraph {
  @include setFont(rem(16px), 26px, 500);
  color: color(roman-silver);
  margin-bottom: em(24px, 16px);
  @media (min-width: 700px) {
    font-size: lerp_clamp($w-tablet, rem(16px), $w-desktop, rem(18px));
    line-height: lerp_clamp($w-tablet, 26px, $w-desktop, 28px);
    margin-bottom: rem(24px);
  }
}

.paragraph--top {
  @media (min-width: 700px) {
    margin-right: lerp_clamp($w-tablet, rem(0px), $w-desktop, rem(12px));
    margin-right: lerp_clamp($w-tablet, rem(0px), $w-desktop, rem(40px));
  }
}

.hero-img-wrapper {
  width: lerp_max($w-mobile, rem(327px), 700px, rem(560px));
  height: lerp_max($w-mobile, rem(301px), 700px, rem(515.5px));
  @media (min-width: 700px) {
    width: lerp($w-tablet, rem(216.54px), $w-desktop, rem(317px));
    height: lerp($w-tablet, rem(382.53px), $w-desktop, rem(560px));
    margin-bottom: 0;
  }
  img {
    width: lerp_max($w-mobile, rem(430px), 700px, rem(742px));
    height: lerp_max($w-mobile, rem(405px), 700px, rem(696px));
    margin-left: lerp_min($w-mobile, rem(-53px), 700px, rem(-92px));
    margin-top: lerp_min($w-mobile, rem(-19px), 700px, rem(-33px));
    @media (min-width: 700px) {
      width: lerp($w-tablet, rem(688px), $w-desktop, rem(1011px));
      height: lerp($w-tablet, rem(720px), $w-desktop, rem(1055px));
      margin-left: lerp($w-tablet, rem(-98px), $w-desktop, rem(-145px));
      margin-top: lerp($w-tablet, rem(-214px), $w-desktop, rem(-313px));
    }
    @media (min-width: $w-desktop) {
      width: rem(1042px);
      height: rem(936px);
      margin-left: rem(-174px);
      margin-top: rem(-314px);
    }
  }
}

.courses {
  padding-inline: lerp_max($w-mobile, rem(16px), 700px, rem(40px));
  padding-bottom: rem(40px);
  background-image: linear-gradient(
    180deg,
    hsl(0, 0%, 100%) 0%,
    hsl(236, 100%, 97%) 100%
  );
  @media (min-width: 700px) {
    padding-inline: lerp_clamp($w-tablet, rem(40px), $w-desktop, rem(165px));
    padding-bottom: lerp_clamp($w-tablet, rem(86px), $w-desktop, rem(140px));
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: lerp_clamp($w-tablet, 56px, 1200px, 80px);
    column-gap: lerp_clamp($w-tablet, 10px, 1200px, 30px);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.courses__heading {
  @include setFont(rem(24px), 32px, 800);
  padding: em(24px, 24px) em(28px, 24px) em(32px, 24px);
  background-image: $gradient-warm;
  color: color(white);
  border-radius: 10px;
  margin-bottom: em(40px, 24px);
  @media (min-width: 700px) {
    padding-top: lerp_clamp($w-tablet, rem(56px), $w-desktop, rem(64px));
    padding-bottom: lerp_clamp($w-tablet, rem(139px), $w-desktop, rem(138px));
    padding-left: rem(32px);
    padding-right: lerp_clamp($w-tablet, rem(21px), $w-desktop, rem(32px));
    font-size: lerp_clamp($w-tablet, rem(24px), $w-desktop, rem(32px));
    line-height: lerp_clamp($w-tablet, 32px, $w-desktop, 40px);
    margin-bottom: 0;
  }
  @media (min-width: 1200px) {
    border-radius: 15px;
  }
}

.courses__course {
  background: color(white);
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  padding: 0 rem(28px) rem(32px);
  margin-bottom: rem(40px);
  @media (min-width: 700px) {
    padding-left: rem(32px);
    padding-right: lerp_clamp($w-tablet, rem(21px), $w-desktop, rem(32px));
    padding-bottom: lerp_clamp($w-tablet, rem(32px), $w-desktop, rem(40px));
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (min-width: 1200px) {
    border-radius: 15px;
  }
}

.course__logo {
  transform: translateY(-24px);
  @media (min-width: 1200px) {
    margin-bottom: rem(8px);
  }
}

.course__title {
  @include setFont(rem(20px), 25px, 800);
  color: color(yankees-blue);
  margin-bottom: em(16px, 20px);
  @media (min-width: 700px) {
    font-size: lerp_clamp($w-tablet, rem(20px), $w-desktop, rem(24px));
    line-height: lerp_clamp($w-tablet, 25px, $w-desktop, 30px);
    margin-bottom: lerp_clamp($w-tablet, rem(16px), $w-desktop, rem(24px));
  }
}

.footer {
  background-color: color(yankees-blue);
  padding-block: rem(36px);
  padding-inline: lerp_max($w-mobile, rem(16px), $w-tablet, rem(40px));
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: $w-tablet) {
    padding-block: lerp_max($w-tablet, rem(36px), $w-desktop, rem(32px));
    padding-inline: lerp_min($w-tablet, rem(40px), $w-desktop, rem(165px));
  }
}
